<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stan.server.mapper.AttendanceLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stan.server.bean.AttendanceLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="lat" property="lat" />
        <result column="lng" property="lng" />
        <result column="distance" property="distance" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="way" property="way" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, lat, lng, distance, start_time, end_time, way
    </sql>

</mapper>
