<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stan.server.mapper.AttendanceSituationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stan.server.bean.AttendanceSituation">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="attendance_record" property="attendanceRecord" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, attendance_record
    </sql>

</mapper>
