<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stan.server.mapper.AttendanceStatsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stan.server.entity.AttendanceStats">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="status" property="status" />
        <result column="attendance_date" property="attendanceDate" />
        <result column="attendance_way" property="attendanceWay" />
        <result column="begin_working_time" property="beginWorkingTime" />
        <result column="end_working_time" property="endWorkingTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, status, attendance_way, attendance_date, begin_working_time, end_working_time
    </sql>

</mapper>
