<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stan.server.mapper.UserMapper">
    <delete id="deleteBySb">
        delete from sys_user where id = 2
    </delete>
    <select id="getUserInfoById" resultType="com.stan.server.model.vo.UserVO">
        SELECT
	    su.id,
	    su.user_name,
	    su.open_id,
	    GROUP_CONCAT(sr.modules SEPARATOR '') AS modules,
	    GROUP_CONCAT(sr.role) AS roles
        FROM
	    sys_user AS su,
	    r_user_role AS rur,
	    sys_role AS sr
        WHERE
	    su.id = #{id}
	    AND su.id = rur.user_id
	    AND sr.id = rur.role_id
    </select>
	<select id="getUserInfoByName" resultType="com.stan.server.model.vo.UserVO">
		SELECT
	    su.id,
	    su.user_name,
	    su.user_password,
	    su.open_id,
	    GROUP_CONCAT(sr.modules SEPARATOR '') AS modules,
	    GROUP_CONCAT(sr.role) AS roles
        FROM
	    sys_user AS su,
	    r_user_role AS rur,
	    sys_role AS sr
        WHERE
	    su.user_name = #{userName}
	    AND su.id = rur.user_id
	    AND sr.id = rur.role_id
	</select>
	<select id="getUserInfoByOpenId" resultType="com.stan.server.model.vo.UserVO">
		SELECT
	    su.id,
	    su.user_name,
	    su.user_password,
	    su.open_id,
	    GROUP_CONCAT(sr.modules SEPARATOR '') AS modules,
	    GROUP_CONCAT(sr.role) AS roles
        FROM
	    sys_user AS su,
	    r_user_role AS rur,
	    sys_role AS sr
        WHERE
	    su.open_id = #{openId}
	    AND su.id = rur.user_id
	    AND sr.id = rur.role_id
	</select>
</mapper>