<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stan.server.mapper.UserMapper">
    <select id="getUserInfoById" resultType="com.stan.server.model.vo.UserVO">
        SELECT
	    su.id,
	    su.user_name,
	    su.open_id,
	    GROUP_CONCAT(sr.modules SEPARATOR '') AS modules,
	    GROUP_CONCAT(sr.role) AS roles
        FROM
	    sys_user AS su,
	    sys_user_role AS rur,
	    sys_role AS sr
        WHERE
	    su.id = #{id}
	    AND su.id = rur.user_id
	    AND sr.id = rur.role_id
    </select>
	<select id="getUserInfoByName" resultType="com.stan.server.model.vo.UserVO">
		SELECT
	    id,
	    user_name,
	    user_password,
	    open_id
        FROM
	    sys_user
        WHERE
	    user_name = #{userName}
	</select>
	<select id="getUserInfoByOpenId" resultType="com.stan.server.model.vo.UserVO">
		SELECT
	    id,
	    user_name,
	    user_password,
	    open_id,
	    phone_number,
	    user_code
        FROM
	    sys_user
        WHERE
	    open_id = #{openId}
	</select>
	<insert id="updateUserRole">
		INSERT INTO sys_user_role(`user_id`, `role_id`) VALUES
		<foreach collection="roleIds" item="roleId" separator=",">
			(#{userId}, #{roleId})
		</foreach>
	</insert>
	<delete id="deleteRoleFromUser">
		DELETE FROM sys_user_role WHERE `user_id`=#{userId}
	</delete>
</mapper>